body {
    display: flex;
    flex-direction: column;
    background-image: url(./pics/backgroundwood.jpeg);
    color: white;
}

header {
    text-align: center;
    border-bottom: 3px solid black;
}

header h1 {
    font-size: 32px;
    font-weight: 800;
    color: white;
}

nav {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-image: url(./pics/bricks.jpeg);
}

nav a {
    font-size: 20px;
    font-weight: 600;
}

.navbar-item {
    color: white;
}

main h2 {
    font-size: 28px;
    font-weight: 700;
}

.definition {
    font-size: 22px;
    margin-bottom: 10px;
}

#thai-badge {
    float: left;
    height: 175px;
    width: 15%;
    margin-top: 5px;
    margin-left: 5px;
    padding-right: 10px;
}

#bjj-badge {
    float: left;
    height: 175px;
    width: 15%;
    margin-top: 5px;
    margin-left: 5px;
    padding-right: 10px;
}

#self-defense-badge {
    float: left;
    height: 175px;
    width: 15%;
    margin-top: 5px;
    margin-left: 5px;
    padding-right: 10px;
}

footer {
    text-align: center;
    background-image: url(./pics/backgroundwood.jpeg);
}