body {
    display: flex;
    flex-direction: column;
    background-image: url(./pics/backgroundwood.jpeg);
    color: white;
}

header {
    text-align: center;
    border-bottom: 3px solid black;
}

header h1 {
    font-size: 32px;
    font-weight: 800;
    color: white;
}

nav {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-image: url(./pics/bricks.jpeg);
}

nav a {
    font-size: 20px;
    font-weight: 600;
}

.navbar-item {
    color: white;
}

.navbar-item:hover {
    color: red;
}

footer {
    background-image: url(./pics/backgroundwood.jpeg);
}