/* CSS for all pages */
body {
    display: flex;
    flex-direction: column;
    background-image: url(./pics/backgroundwood.jpeg);
    color: white;
}

header {
    text-align: center;
    border-bottom: 3px solid black;
}

header h1 {
    font-size: 36px;
    font-weight: 800;
    color: crimson;
}

/* CSS on homepage */
nav {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-image: url(./pics/bricks.jpeg);
}

nav a {
    font-size: 20px;
    font-weight: 600;
}

.navbar-item {
    color: white;
}

main h2 {
    font-size: 28px;
    font-weight: 700;
    color: crimson;
}

#main-container {
    margin: 0 auto;

}

/* CSS for arts page */
.arts-list {
    margin-bottom: 10px;
}

.definition {
    font-size: 22px;
    margin-bottom: 10px;
}

#thai-badge {
    float: left;
    height: 175px;
    width: 15%;
    margin-top: 5px;
    margin-left: 5px;
    padding-right: 10px;
}

#bjj-badge {
    float: right;
    height: 175px;
    width: 15%;
    margin-top: 5px;
    margin-left: 5px;
    padding-right: 10px;
}

#self-defense-badge {
    float: left;
    height: 175px;
    width: 15%;
    margin-top: 5px;
    margin-left: 5px;
    padding-right: 10px;
}

/* CSS for contact us page */
form {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.contact-label {
    margin-top: 5px;
    font-size: 18px;

}

.contact-input {
    margin-top: 5px;
    font-size: 18px;
    width: 50%;

}

.submit-btn {
    margin: 0 auto;
    font-weight: 800;
    grid-column: 1/2;

}

.submit-btn:hover {
    background-color: crimson;
    color: white;
}

/* CSS for footer on all pages */
footer {
    text-align: center;
    background-image: url(./pics/backgroundwood.jpeg);
}